* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #28273e;
  padding: 0 16px;
}

@media screen and (min-width: 500px) {
  body {
    padding: 0 32px;
  }
}

.dimmerCell {
  width: 100%;
  padding: 16px;
  height: 100%;
  background-color: #ddd;
}

.boxCell {
  width: 100%;
  padding: 16px;
  height: 100%;
  background-color: #ddd;
}

h1 {
  font-size: 22px;
  margin: 32px 0 32px;
}

h2 {
  font-size: 18px;
  margin: 32px 0 8px;
}
